.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.over-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.grid {
  display: grid;
}

.font-bold {
  font-weight: bold;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-24 {
  margin-right: 24px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.color-r-1 {
  color: #e88409;
}

.color-r-2 {
  color: #e32c41;
}

.color-a-1 {
  color: #666666;
}

.color-a-2 {
  color: #262626;
}

.color-a-3 {
  color: #d6d6d6;
}

.bgc-a-1 {
  background-color: #f2f2f2;
}
